@model IEnumerable<BarBuddy.Models.Tab>

@{
    ViewBag.Title = "Restuarant Home";
}
<body style="background-image: url('/Images/Halo.png');">
    <br />

    <h2>Payment Confirmation</h2>
    <br />
    <br />

    <h4>Payment was applied and customer account was charged.</h4>
    <br />
    <h4>Tab was set to zero and marked closed.</h4>
    <br />
    <h4>Inventory was adjusted for recipe objects.</h4>
    <br />
    <h4>Restaurant account balance altered.</h4>
    <br />

    <div>
        @Html.ActionLink("Return To Active Orders", "Index")
    </div>




</body>