@model IEnumerable<BarBuddy.Models.Tab>

@{
    ViewBag.Title = "Restuarant Home";
}
<body style="background-image: url('/Images/Halo.png');">
    <br />

    <h2>Test Page For STRIPE</h2>

    <h4> IF this page reached, inventory adjusted, tabs updated with payment check box, set to zero, restaurant bank account adjusted</h4>

        

   
</body>