@{
    ViewBag.Title = "Coming Soon";
}
<body style="background-image: url('/Images/Halo.png');">
   

    <div>
        <h1>Future RoadMap</h1>

        <br />
        <br />

        <h4>
            We know how important it is for us to be looking forward and at the future. Because of that we want to be completely open with you, our treasured supporters customers.
            <br />
            <br />
            Below is a road map of all features currently planned for this website. This ensures we continue to keep working towards our goals.
        </h4>
        <br />
        <img src="~/Images/RD.PNG" style="width: 100%; height:250px;" />

        <br />
        <br />
        <h4>Please let us know if you would like any other features added.</h4>

        <br />
        <br />

        <address>
            <strong>Contact Us:</strong>   <a href="mailto:Danmanfernan@Gmail.com">BarBuddy@Gmail.com</a><br />

        </address>


    </div>
    
    <br />
    <br />



    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
</body>