@model BarBuddy.Models.Inventory

@{
    ViewBag.Title = "Details";
}
<body style="background-image: url('/Images/Halo.png');">
    <br />
    <h4>Management succesfully notified.</h4>
    <br />

    <div>
        @Html.ActionLink("Return To Inventory", "IndexBar")
    </div>

</body>